$font-size: 1rem;
$font-family: 'JetBrainsMono-Variable', sans-serif;
$background-color: #161616;
$border-color: #242424;
$secondary: #242424;
$tertiary: #e5faf8;
$special: #fff;

$font: #212529;

$border: 1px solid #dfe1e5;
