.graph {
  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;

  span {
    width: 1rem;
    height: 1rem;
    margin: 0rem 0.2rem;
  }
}

.graph span {
  background-color: rgb(235, 234, 240);
}

.graph span[data-level="1"] {
  background-color: rgb(149, 228, 228);
}

.graph span[data-level="2"] {
  background-color: rgb(68, 207, 200);
}

.graph span[data-level="3"] {
  background-color: rgb(41, 158, 158);
}

.graph span[data-level="4"] {
  background-color: rgb(25, 97, 93);
}
