.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  img {
    width: auto;
    max-width: 100%;
    height: 122px;
  }
}
.nav {
  display: flex;
  justify-content: center;
  width: 86%;
  align-self: center;
  height: 2rem;

  .nav__tabs {
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    .settings {
      border-bottom: none;
      border-left: 0.2rem solid #316e7d;
      border-right: 0.2rem solid #316e7d;
      border-top: 0.2rem solid #316e7d;
      color: #e96c4c;
      padding: 0 0.5rem;
      span {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.nav__tabs::before {
  border-bottom: 0.2rem solid #316e7d;
  content: "";
  flex: auto;
}
