@font-face {
  font-family: 'JetBrainsMono-Variable';
  src: url('../fonts/JetBrainsMono-Variable.ttf');
  font-weight: 100 900;
};

@import "variables";
@import "scaffolding";
@import "login";
@import "MainContainer";
@import "userCard";
@import "activityGraph";
@import "Header";


